<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title"><%- title %></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                  <a href="javascript:;" type="button" class="btnanchor btn  btn-success add-category">Add Category</a>
                  
              </div>
          </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="script-form">
                            <div class="script-add-form" style="display: none;">
                                    <form id="category_add" method="post" enctype="multipart/form-data">
                                        <div class="categories-form-field" id="name-required">
                                            <div class="categories-form-field-label">
                                            <label for="tag-name">Name</label>
                                            </div>
                                            <div class="categories-data-form">
                                            <input class="form-control" name="category_name" autocomplete="off" id="tag-name" type="text" size="40">
                                            <p>This is how it appears on your site.</p>
                                            </div>
                                        </div>
                                        <div class="categories-form-field" id="slug-required">
                                            <div class="categories-form-field-label">
                                            <label for="category-slug">Category Slug</label>
                                            </div>
                                            <div class="categories-data-form">
                                            <input class="form-control" name="slug" id="category-slug" type="text" value="" size="40">
                                            <p id="error-msg" style="color:red"></p>
                                            <p>Must be all lowercase and contains only letters, numbers, and hyphens.</p>
                                            </div>
                                        </div>
                                        <div class="categories-form-field">
                                            <div class="categories-form-field-label">
                                            <label for="parent">Parent Category</label>
                                            </div>
                                            <div class="categories-data-form">
                                                <select name="parent" id="parent" class="postform">
                                                    <option value="-1">None</option>
                                                    <%categories.forEach(category => {%>
                                                        <option value="<%- category.category_id %>"><%- category.title %></option>
                                                        <%
                                                            if(category.subcategories){
                                                                category.subcategories.forEach(subcategory => {%>
                                                                <option value="<%- subcategory.category_id %>">-&nbsp;<%- subcategory.title %></option>
                                                                <!-- <%
                                                                    if(subcategory.subsubcategories){
                                                                        subcategory.subsubcategories.forEach(subsubcategory => {%>
                                                                        <option value="<%- subsubcategory.category_id %>">--&nbsp;<%- subsubcategory.title %></option>
                                                                        <%
                                                                        })
                                                                    }
                                                                %> -->
                                                                <%
                                                                })
                                                            }
                                                        %>
                                                    <%
                                                    })%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="categories-form-field">
                                            <div class="categories-form-field-label">
                                            <label>Category Image</label>
                                            </div>
                                            <div class="categories-data-form">
                                            <input type="file" name="thumbnail" id="category_id" onchange="readImageUrl(this,'category_image')">
                                            <span style="display:none" class="error" id="category_id-msg"></span>
                                            </div>
                                        </div>
                                        <div class="form-wrapper" id="category_image-cnt" style="display: none;">
                                            <div class="form-label" id="category_image-label">&nbsp;</div>
                                            <div  id="category_image-element">
                                                <input width="100" type="image" height="100" src="" id="category_image" name="category_image">
                                            </div>
                                        </div>
                                        <div class="submit categories-form-field">
                                            <button type="button" id="submitcategory_add" class="btn btn-success">Add Category</button>
                                        </div>
                                    </form>
                                <div class="script-add-form-overlay" id="add-category-overlay" style="display:none"></div>
                            </div>
                            <div class="categories-listing" style="width: 100%;">
                                <div id="error_message_delete"></div>
                                <form id="multimodify_form" method="post">
                                    <div class="box-body table-responsive no-padding">
                                    <table class="category-table table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Thumbnail</th>
                                                <th>Name</th>
                                                <th>Category Slug</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%categories.forEach(category => {%>
                                                <tr id="categoryid-<%- category.category_id %>" data-category-id="<%- category.category_id %>" style="cursor: move;">
                                                    <td style="display: none;">
                                                            <input type="checkbox" class="checkbox check-category-id" name="delete_tag[]" value="<%- category.category_id %>">
                                                    </td>
                                                    <td>
                                                        <%if(category.image && category.image != "undefined"){ %>
                                                            <img src="<%- imageSuffix+category.image %>" style="height: 50px;width:50px;margin-bottom: 10px;">
                                                        <%}else{%>
                                                            ---
                                                        <%}%>
                                                    </td>
                                                    <td> <%- category.title %>               
                                                        <div class="hidden" style="display:none" id="inline_<%- category.category_id %>">
                                                            <div class="parent">0</div>
                                                        </div>
                                                    </td>
                                                    <td><%- category.slug %></td>
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="<%- process.env.ADMIN_SLUG %>/movies/categories/add/<%- category.category_id %>">Edit</a>
                                                        <a class="btn btn-danger btn-xs" onclick="preDeleteFn(this)" data-id="<%-category.category_id;%>" data-toggle="modal" data-target="#modal-danger" >Delete</a>
                                                    </td>
                                                </tr>
                                                <%
                                                    if(category.subcategories){
                                                        category.subcategories.forEach(subcategory => {%>
                                                        <tr id="categoryid-<%- subcategory.category_id %>" data-category-id="<%- subcategory.category_id %>" style="cursor: move;">
                                                            <td style="display: none;">
                                                                    <input type="checkbox" class="checkbox check-category-id" name="delete_tag[]" value="<%- subcategory.category_id %>">
                                                            </td>
                                                            <td>
                                                                <%if(subcategory.image){ %>
                                                                    <img src="<%- imageSuffix+subcategory.image %>" style="height: 50px;width:50px;;margin-bottom: 10px;">
                                                                <%}else{%>
                                                                    ---
                                                                <%}%>
                                                            </td>
                                                            <td> -&nbsp;<%- subcategory.title %>               
                                                                <div class="hidden" style="display:none" id="inline_<%- subcategory.category_id %>">
                                                                    <div class="parent"><%- category.category_id %></div>
                                                                </div>
                                                            </td>
                                                            <td><%- subcategory.slug %></td>
                                                            <td>
                                                                <a class="btn btn-primary btn-xs" href="<%- process.env.ADMIN_SLUG %>/movies/categories/add/<%- subcategory.category_id %>">Edit</a>
                                                                <a class="btn btn-danger btn-xs" onclick="preDeleteFn(this)" data-id="<%-subcategory.category_id;%>" data-toggle="modal" data-target="#modal-danger" >Delete</a>
                                                            </td>
                                                        </tr>
                                                        <%
                                                            if(subcategory.subsubcategories){
                                                                subcategory.subsubcategories.forEach(subsubcategory => {%>
                                                                <tr id="categoryid-<%- subsubcategory.category_id %>" data-category-id="<%- subsubcategory.category_id %>" style="cursor: move;">
                                                                    <td style="display: none;">
                                                                            <input type="checkbox" class="checkbox check-category-id" name="delete_tag[]" value="<%- subsubcategory.category_id %>">
                                                                    </td>
                                                                    <td>
                                                                        <%if(subsubcategory.image){ %>
                                                                            <img src="<%- imageSuffix+subsubcategory.image %>" style="height: 50px;width:50px;;margin-bottom: 10px;">
                                                                        <%}else{%>
                                                                            ---
                                                                        <%}%>
                                                                    </td>
                                                                    <td> --&nbsp;<%- subsubcategory.title %>               
                                                                        <div class="hidden" style="display:none" id="inline_<%- subsubcategory.category_id %>">
                                                                            <div class="parent"><%- subcategory.category_id %></div>
                                                                        </div>
                                                                    </td>
                                                                    <td><%- subsubcategory.slug %></td>
                                                                    <td>
                                                                        <a class="btn btn-primary btn-xs" href="<%- process.env.ADMIN_SLUG %>/movies/categories/add/<%- subsubcategory.category_id %>">Edit</a>
                                                                        <a class="btn btn-danger btn-xs" onclick="preDeleteFn(this)" data-id="<%-subsubcategory.category_id;%>" data-toggle="modal" data-target="#modal-danger" >Delete</a>
                                                                    </td>
                                                                </tr>
                                                                <%
                                                                })
                                                            }
                                                        %>
                                                        <%
                                                        })
                                                    }
                                                %>
                                            <%
                                            })%>



                                        </tbody>
                                    </table>
                                </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal model-dialog-hide" id="modal-danger">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure want to delete this? It will not be recoverable after being deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="deleteFunction()" class="btn btn-outline">Delete</button>
    </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<%- include('../includes/scripts.ejs') %>
<script type="application/javascript">
    $(".add-category").click(function(e){
        $(".script-add-form").show();
        $(".categories-listing").css("width",'70%')
    })
    var deleteObjectId;
    function preDeleteFn(obj){
      deleteObjectId = $(obj).attr('data-id');
      
    }
    function deleteFunction(){
      window.location.href = "<%= process.env.ADMIN_SLUG %>/movies/categories/delete/%>"+deleteObjectId;
    }
  </script>
<script src="/dist/js/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="/dist/js/odering.js"></script>

<script type="application/javascript">
    ajaxurl = "<%= process.env.ADMIN_SLUG %>/movies/categories/change-order";
    function readImageUrl(input,id) {
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        var idMsg = 'category_id';
        if (input.files && input.files[0] && (ext == "png" || ext == "jpeg" || ext == "jpg" || ext == 'gif' || ext == 'GIF')) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#'+id+'-wrapper').show();
               $('#'+id).attr('src', e.target.result);
            }
            $('#'+id+'-wrapper').show();
            $('#'+idMsg+'-msg').hide();
            reader.readAsDataURL(input.files[0]);
        }else{
            $('#'+id+'-wrapper').hide();
            $('#'+idMsg+'-msg').show();
            $('#'+idMsg+'-msg').html("<br>Please select png,jpeg,jpg and gif image only.");
             $('#'+idMsg).val('');
            }
      }
     
    $ (document).ready(function (e) {
        $ ('#category_add').on('submit',(function(e) {
                var error = false;
                var nameFieldRequired = $('#tag-name').val();
                var slugFieldRequired = $('#category-slug').val();
                if(!nameFieldRequired){
                    $('#name-required').css('background-color','#ffebe8');
                    $('#tag-name').css('border','1px solid red');
                    error = true;
                }else{
                    $('#name-required').css('background-color','');
                    $('#tag-name').css('border','');
                }
                if(!slugFieldRequired){
                    $('#slug-required').css('background-color','#ffebe8');
                        $('#category-slug').css('border','1px solid red');
                         $('html, body').animate({
                scrollTop: $('#category_add').position().top },
                1000
                    );
                        error = true;
                }else{
                    $('#slug-required').css('background-color','');
                    $('#category-slug').css('border','');
                }
                if(error){
                    $('html, body').animate({
                scrollTop: $('#category_add').position().top },
                1000
                    );
                    return false;
                }
            $('#add-category-overlay').css('display','block');
            e.preventDefault();
            var form = $('#category_add');
            var formData = new FormData(this);
            formData.append('is_ajax', 1);
            formData.append('type', "movie");
            $ .ajax({
                type:'POST',
                url: "<%= process.env.ADMIN_SLUG %>/movies/categories/add",
                data:formData,
                cache:false,
                contentType: false,
                processData: false,
                success:function(data){
                    $('#category_image-cnt').css('display','none');
                    $('#add-category-overlay').css('display','none');
                    if(data.slugError){
                        $('#error-msg').html('Unavailable');
                        $('#slug-required').css('background-color','#ffebe8');
                        $('#category-slug').css('border','1px solid red');
                            $('html, body').animate({
                            scrollTop: $('#category_add').position().top },
                            1000
                            );
                        return false;
                    }else{
                        $('#error-msg').html('');
                        $('#slug-required').css('background-color','');
                        $('#category-slug').css('border','');
                    }
                    parent = $('#parent').val();
                    if ( parent > 0 && $('#categoryid-' + parent ).length > 0 ){ // If the parent exists on this page, insert it below. Else insert it at the top of the list.
                    var scrollUpTo= '#categoryid-' + parent;
                        $( '.category-table #categoryid-' + parent ).after( data.tableData ); // As the parent exists, Insert the version with - - - prefixed
                    }else{
                        var scrollUpTo = '#multimodify_form';
                        $( '.category-table' ).prepend( data.tableData ); // As the parent is not visible, Insert the version with Parent - Child - ThisTerm					
                    }
                    if ( $('#parent') ) {
                        // Create an indent for the Parent field
                        indent = data.seprator;
                        if(indent != 3)
                            form.find( 'select#parent option:selected' ).after( '<option value="' + data.id + '">' + indent + data.name + '</option>' );
                    }
                    $('html, body').animate({
                        scrollTop: $(scrollUpTo).position().top },
                        1000
                        );
                    $('#category_add')[0].reset();
                },
                error: function(data){
                    //silence
                            }
            });
        }));
        $("#submitcategory_add").on("click", function() {
           $("#category_add").submit();
        });
    });
    $("#tag-name").keyup(function(){
        var Text = $(this).val();
        Text = Text.toLowerCase();
        Text = Text.replace(/[^a-zA-Z0-9]+/g,'-');
        $("#category-slug").val(Text);        
    });
    
    $(document).on('click','.deleteCat',function(){
        var id = $(this).attr('data-url');
        var confirmDelete = confirm("Are you sure you want to delete the selected category?");
        if(confirmDelete){
                $('#categoryid-'+id).css('background-color','#ffebe8');
                var selectedCategory=[id];
                var scrollToError = false;
                $.post(window.location.href,{data:selectedCategory,selectDeleted:'true'},function(response){
                response = $.parseJSON(response); 
                    if(response.ids){
                        var ids = response.ids;
                        if(response.diff_ids.length>0){
                            $('#error_message_delete').html("Red mark category can't delete.You need to delete lower category of that category first.<br></br>");
                            $('#error_message_delete').css('color','red');
                        }else{
                            $('#error_message_delete').html("");
                            $('#error_message_delete').css('color','');
                        }
                        for(var i =0;i<=ids.length;i++){
                            $('select#parent option[value="' + ids[i] + '"]').remove();
                            $('#categoryid-'+ids[i]).fadeOut("normal", function() {
                                    $(this).remove();
                            });
                        }
                        if(scrollToError){
                            $('html, body').animate({
                                scrollTop: $('#category_add').position().top },
                                1000
                            );
                        }
                    }
            });
        }
    });
    </script>
<%- include('../includes/footer.ejs') %>