<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                  <h3 class="box-title"><%- title %></h3>
                </div>
            </div>
          </div>
      </div>
        <div class="row">
          <div class="col-xs-4">
              <div class="btnanchor">
                <a href="<%= process.env.ADMIN_SLUG %>/slideshow/create" type="button" class="btn btn-success upload-btn">Create New Slide</a>
              </div>
            </div>
        </div>
        <%if(results.length > 0){%>
        <div class="row">
            <div class="col-xs-12">
                <div class="callout callout-warning">
                  <p><%- results.length %> Slideshows Founds.</p>
                </div>
              <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th>ID</th>
                      <th>Image</th>
                      <th>Title</th>
                      <th>Enabled</th>
                      <th>Options</th>
                    </tr>
                    <%for(var i=0;i<results.length;i++){%>
                    <tr>
                      <td><%- results[i].slideshow_id %></td>
                      <td>
                        <%if(results[i].image){ %>
                          <img src="<%- imageSuffix+results[i].image; %>" height="100px" width="100px" >
                        <%}else{%>
                          ---
                        <%}%>
                      </td>
                      <td>
                          <%- results[i].title; %>
                      </td>
                      <td>
                            <%- results[i].enabled ? "Yes" : "No"; %>
                        </td>
                      <td>
                          <a  class="btn btn-primary btn-xs" href="<%= process.env.ADMIN_SLUG %>/slideshow/create/<%-results[i].slideshow_id;%>">Edit</a>
                          <a  class="btn btn-danger btn-xs" onclick="preDeleteFn(this)" data-id="<%-results[i].slideshow_id;%>" data-toggle="modal" data-target="#modal-danger" >Delete</a>
                      </td>
                    </tr>
                   <% } %>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <div class="modal model-dialog-hide" id="modal-danger">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete</h4>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure want to delete this? It will not be recoverable after being deleted.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" onclick="deleteFunction()" class="btn btn-outline">Delete</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
              
              <!-- /.box -->
            </div>
          </div>
        <% }else{%>
              <div class="callout callout-info">  
                  <p>No slides created by you yet.</p>
              </div>
        <% } %>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
  <script type="application/javascript">
    var deleteObjectId;
    function preDeleteFn(obj){
      deleteObjectId = $(obj).attr('data-id');
      
    }
    function deleteFunction(){
      window.location.href = "<%= process.env.ADMIN_SLUG %>/slideshow/delete/%>"+deleteObjectId;
    }
  </script>
  
  <%- include('../includes/scripts.ejs') %>
  
  <%- include('../includes/footer.ejs') %>